gradio
gtts
SpeechRecognition
pymupdf
pdfplumber
tabula-py
faiss-cpu
rank-bm25
unidecode
rapidfuzz
pydantic==2.7.1
sentence-transformers==3.3.1
transformers==4.45.2
huggingface-hub==0.23.2

requests
numpy
pandas
groq
